/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.pirate-alert .alert-button-confirm {
    color: #FFD700;
    font-weight: bold;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
  }
  .centered-modal .ion-page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 16px;
      box-sizing: border-box;
      background-color: #fff8dc;
    }

    .centered-modal .modal-content-box {
      background-color: #fff8dc;
      border-radius: 16px;
      padding: 25px 20px;
      width: 100%;
      max-width: 400px;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }
/* one-piece-theme.css */
.one-piece-card {
  background: #8e96e0;
  border: 5px solid #633007;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(51, 47, 47, 0.1);
}

.one-piece-title {
  color: #b02e0c;
  font-family: 'Pirata One', cursive;
}

.one-piece-subtitle {
  color: #1f1d1d;
  font-size: 0.9rem;
}

.one-piece-post-content {
  font-size: 0rem;
  color: #111111;
  padding: 0.5rem;
}

.one-piece-avatar {
  border: 2px solid #292826;
  padding: 2px;
  border-radius: 50%;
  background-color: #fff;
}

.one-piece-button {
  --background: #7c693d;
  --color: #1e1e1e;
}

.one-piece-button:hover {
  --background: #d19c3e;
}

.one-piece-post-input {
  border-radius: 8px;
  background-color: #dbc29d;
  padding: 8px;
  font-family: 'Treasure Map Deadhand', cursive;
}
.create-post-icons ion-button {
  margin: 0 0.5rem;
}
.create-post-card {
  background-color: #FFD700; /* Gold to match treasure theme */
  border-radius: 12px;
  color: #443f3e;
  border: 3px solid #a8683d; /* Dark wood border for a rustic look */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}
.post-options-icon {
  font-size: 30px; /* Try 20px–32px as needed */
  width: 30px;
  height: 24px;
}
